<!DOCTYPE html>
<html lang="en">

</html>
<head>
    <title>Floramart</title>
    <link href={{url_for('static',filename='css/main.css')}} rel="stylesheet">
    
    <script src={{url_for('static',filename='js/open_source/jquery-3.7.1.min.js')}}></script>
    <script src={{url_for('static',filename='js/open_source/jquery-ui.min.js')}}></script>
    <script src={{url_for('static',filename='js/main.js')}}></script>
</head>
<body>
    <div>
        {% block head %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
</body>