{% extends 'Header.html' %}
{% include 'includes/applicationHeader.html' %}

{% block content %}
<head>
    <title>User Profile</title>   
</head>
<body>
    <div class="profile-container">
        <div class="profile-icon">👤</div>
        <h1>Welcome, {{ email }}</h1>
        <p><strong>Role:</strong> {{user_role}}</p>
      
        <div class="profile-actions">
            <a href="{{ url_for('logout') }}" class="profile-btn logout-btn">Logout</a>
        </div>
    </div>
</body>
{% endblock %}
